/target
/data
**/venv
.ipynb_checkpoints
/crates/route3_road/python_client
**/perf.data*
# /.git needs to be COPYied to obtain the commit-sha from
/*.Dockerfile
/justfile
**/node_modules
**/package-lock.json
/crates/til3serv/dist/*
