/target
Cargo.lock
.idea
*.sw[po]
*.py[co]
__pycache__
/datasources/venv/
/data/**/*.pbf
/data/**/*.tif
/data/**/*.xml
/data/**/*.bc
/data/**/*.bincode
/data/**/*.geojson
/data/**/*.arrow
/data/**/*.fgb
poetry.lock
perf.data*
flamegraph*.svg
.minio.sys
/crates/rout3serv/src/server/api/generated.rs
.ipynb_checkpoints
node_modules
package-lock.json
/crates/til3serv/dist/*
